doctype html
html
  head
    title Welcome to our website
    style
      include ../static/style.css
  body
    //- nav bar
    nav#navbar
      ul
        div#logo 
          img(src="./static/logo.png", alt="logo")
          | Fitness
        li #[a(href="/") Home]
        li #[a(href="/") About us]
        li #[a(href="/") Services]
        li #[a(href="/") Contact us]

    //- section of Home Screen
    section#HomeScreen
      div.homecontainer
        h1 Welcome to our Website
        p Work hard and loos your weight

      
    section#OurGoal
        h2 Our Goal
        div.OurGoal
          div.box
            img(src="./static/card1.png", alt="fitness image")
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, veniam inventore. Necessitatibus, sequi iste. Modi dolore necessitatibus nulla porro rem ut quisquam, nobis temporibus rerum vitae odio explicabo repellendus dignissimos suscipit animi possimus aperiam debitis, vel numquam, iusto distinctio officiis eos. Illum voluptates tempore ad aliquam voluptatibus incidunt quia sapiente consequuntur libero velit, expedita, distinctio odio a, tenetur cumque veniam quidem eveniet. Corporis similique eius ab dolorum voluptates, neque quis sit? Voluptatum tenetur exercitationem modi esse dolore, pariatur dolorum reprehenderit. Aliquam mollitia possimus ad repellat odio minus accusamus non illo vitae explicabo eum aperiam facere culpa ex placeat quasi sequi, labore unde dolores. Earum placeat rerum accusantium eaque tempore, nihil officiis totam veniam iusto cupiditate ratione possimus dolore, praesentium sit deserunt eveniet corporis iure. Sunt est sit maiores neque nostrum veniam a ea adipisci, optio quos labore possimus quasi, quam enim pariatur cupiditate quaerat? Ea reiciendis ullam dolores. Magni corrupti soluta architecto in nemo delectus eos sequi! Voluptatem iste non ad repellendus odit provident aperiam officiis architecto officia harum itaque minima necessitatibus quam maiores illo quia nemo, exercitationem labore aut quidem odio. Facilis veritatis quos atque tenetur nam dolorem beatae! Dicta temporibus ipsa possimus corrupti suscipit ad voluptatem vel esse?
          
          div.box
            img(src="./static/card2.png", alt="fitness image")
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero odit doloribus exercitationem nisi, maiores quidem eligendi id nihil nulla corporis dolor ratione, dolorem assumenda accusantium recusandae maxime ipsam aliquid saepe ab expedita ducimus, rem numquam possimus temporibus. Provident sapiente tempora similique excepturi error maiores quidem eligendi dolorum sit in. Unde aut rerum aliquid optio odio accusantium dolores recusandae voluptates qui repudiandae debitis, dignissimos id sequi saepe quasi explicabo. Aperiam ex fuga veritatis voluptatum saepe aspernatur voluptas! Vel ad animi veniam velit impedit quasi sequi consectetur dignissimos pariatur quod facere numquam iure id iste sed libero voluptatibus explicabo, qui exercitationem alias illum! Ipsum magni, eligendi officiis excepturi hic quos ad cumque porro dolor neque cupiditate vitae, tempore unde libero vel dolorum, earum quisquam provident est temporibus. Consequuntur totam harum deserunt qui. Cupiditate tempora ratione, ullam a, provident harum rem, maiores vel error asperiores dolores quae? Incidunt voluptatibus nisi quis tempora hic culpa recusandae aliquam distinctio enim reiciendis magni veniam ad, soluta eius mollitia ex porro esse praesentium officiis eaque ipsa fuga quas assumenda. Perspiciatis voluptatem eveniet quaerat reprehenderit ab corporis velit iusto quibusdam nisi suscipit consequuntur distinctio dicta, facere exercitationem voluptatibus ipsam quisquam aliquam culpa. Sint inventore quia ipsum accusantium harum?
          
          div.box
            img(src="./static/card3.png", alt="fitness image")
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sint qui debitis velit sapiente blanditiis, ad commodi laudantium at numquam deleniti rem accusantium magnam totam tempore omnis, nihil consequuntur quidem dignissimos, cupiditate in. Eligendi iure placeat aspernatur quia! Ad optio animi in consequuntur! Eius alias possimus dignissimos distinctio in iste voluptatem quam voluptas esse est inventore quas fugiat exercitationem, saepe asperiores delectus architecto quae, minima repudiandae! Nobis ut labore, fuga maiores molestias explicabo harum culpa vel ipsum mollitia recusandae? Possimus pariatur temporibus libero eius, mollitia ipsum aperiam ullam. Esse voluptatum dolores quidem, incidunt atque aliquam inventore quos obcaecati. In tempore quidem dolor aspernatur? Repudiandae aliquid in id tempore, tenetur minus eaque exercitationem, vero pariatur sint, harum iste ducimus. Repellat esse reiciendis explicabo sit sint animi omnis ullam earum eaque impedit molestiae ducimus, magni nesciunt, nisi sequi rem quae pariatur nihil suscipit blanditiis cumque, qui accusantium rerum. Aliquam id fuga ipsa consequatur numquam ducimus ex modi maiores! Voluptatem quas odit corporis dolorum officiis, libero numquam voluptatibus, amet facilis reiciendis possimus id eaque repellat exercitationem quos recusandae consectetur et assumenda dolores facere eius. Laboriosam nisi magnam quisquam facere, eos, et at repellendus aut eaque perferendis nemo, hic ea deleniti. Perspiciatis, provident officiis.

    footer#footer
      div.foocon
        p All right reserverd &copy; 2021-2022
      div.foocon
        p Follow us on 
        div.imag
          img(src="./static/footer/facebook.png", alt="facebook")
          img(src="./static/footer/twitter.png", alt="twitter")
          img(src="./static/footer/youtube.png", alt="youtube")


    script
      include ../static/navbar.js