.userInfo{
    background: linear-gradient(0deg, rgb(7 36 255 / 51%), rgb(0 0 0 / 87%)), url(/static/background/bg3.jpg) no-repeat center center/cover;
    overflow: hidden;
    width: 100%;
}
.userInfo div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 160px;

}
h1{
    color: white;
    margin: 14px 0;
    letter-spacing: 4px;
}
table{
    border-collapse:collapse ;
}
td{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 23px;
}

.userProfileImage{
    width: 149px;
    border-radius: 29px;
    margin: 14px;
    width: 149px;
    border-radius: 29px;
    margin: 14px;
    border: 14px solid rgb(10, 5, 5);
}

td li {
    list-style: none;
    font-weight: normal;
}
tr{
    border: 2px solid white;
}
@media only screen and (min-width: 50px) and (max-width: 417px ) {
    td{
        padding: 7px;
    } 
    h1{
        letter-spacing: 0px;
    }  
}